@import '../../styles/colors.css';

.default {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--blue-300);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.active {
    background-color: var(--blue-500);
}

.text {
    color: var(--white);
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.icon {
    width: 30px;
    height: auto;
}

.icon.big {
    width: 60px;
}

.status-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;

    & span {
        padding-left: 8px;
    }
}
