@import '../../styles/colors.css';

.resizer {
  background-color: var(--pureBlack);
  background-clip: padding-box;
  box-sizing: border-box;
  z-index: 1;

  &.active {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &.horizontal {
    height: 6px;
    margin: -2px 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    cursor: row-resize;
    width: 100%;

    &.active {
      border-top: 2px solid var(--pureBlack);
      border-bottom: 2px solid var(--pureBlack);
    }
  }

  &.vertical {
    width: 6px;
    margin: 0 -2px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    cursor: col-resize;

    &.active {
      border-left: 2px solid var(--pureBlack);
      border-right: 2px solid var(--pureBlack);
    }
  }

  &.disabled {
    display: none;
  }
}
