:root {
    --blue-100: rgb(20, 28, 32);
    --blue-300: rgb(32, 40, 44);
    --blue-400: rgb(76, 83, 91);
    --blue-500: rgb(0, 140, 204);
    --blue-700: rgb(100, 208, 228);
    --blue-900: rgb(236, 246, 249);

    --white: rgb(255, 255, 255);
}
