@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('../assets/fonts/SpoqaHanSans-Thin_subset.woff');
  font-weight: 200;
}
@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('../assets/fonts/SpoqaHanSans-Regular_subset.woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('../assets/fonts/SpoqaHanSans-Bold_subset.woff');
  font-weight: 700;
}
