@import 'font';
@import 'normalize.css';

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// 블루 컬러
$color-blue-100: rgb(20, 28, 32);
$color-blue-300: rgb(32, 40, 44);
$color-blue-400: rgb(76, 83, 91);
$color-blue-500: rgb(0, 140, 204);
$color-blue-700: rgb(100, 208, 228);
$color-blue-900: rgb(236, 246, 249);

// 레드 컬러
$color-red-100: rgb(111, 29, 70);
$color-red-300: rgb(224, 72, 128);
$color-red-500: rgb(255, 102, 175);
$color-red-700: rgb(234, 108, 176);
$color-red-900: rgb(238, 190, 220);

$color-basic-88: rgb(224, 224, 244);
$color-basic-80: rgb(204, 204, 204);
$color-basic-36: rgb(91, 91, 91);
$color-basic-32: rgb(81, 81, 81);
$color-basic-28: rgb(71, 71, 71);
$color-basic-24: rgb(61, 61, 61);
$color-basic: rgb(51, 51, 51);
$color-basic-16: rgb(40, 40, 40);
$color-basic-12: rgb(30, 30, 30);
$color-basic-8: rgb(20, 20, 20);
$color-basic-4: rgb(10, 10, 10);

// 특수 컬러
$color-block-editor: rgba(0, 0, 0, .5);

$video-controls-height: 64px;
$time-bar-height: 32px;
$progress-bar-height: 16px;
$block-controls-width: 48px;

html,
body {
  font-family: 'Spoqa Han Sans';
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.top-pane {
  height: 60vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.bottom-pane {
  bottom: 0;
  height: 40vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.player {
  background-color: $color-blue-300;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.video {
  background-color: $black;
  height: calc(100% - #{$video-controls-height});
  position: relative;

  &__view {
    height: 100%;
    width: 100%;
  }
}

.video-controls {
  height: $video-controls-height;
  min-height: $video-controls-height;
  position: relative;
  text-align: center;
  width: 100%;

  &__button {
    background: transparent;
    background-repeat: no-repeat;
    border: 0;
    height: 24px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 24px;

    &--play {
      background-image: url('../assets/icons/ic_play.svg');
    }

    &--pause {
      background-image: url('../assets/icons/ic_pause.svg');
    }

    &--mute {
      background-image: url('../assets/icons/ic_volume_mute.svg');
    }

    &--unmute {
      background-image: url('../assets/icons/ic_volume_up.svg');
    }
  }
}

.time-bar {
  background-color: $color-blue-300;
  height: $time-bar-height;
  width: calc(100% - #{$block-controls-width});
  position: absolute;
  top: 0;
  left: $block-controls-width;

  &__time {
    line-height: $time-bar-height;
    font-size: 16px;
    color: $color-blue-400;
    position: absolute;

    &--left {
      color: $color-blue-500;
      left: 16px;
    }

    &--right {
      color: $color-blue-400;
      right: 16px;
    }
  }
}

.timeline {
  background-color: $color-blue-100;
  height: calc(100% - #{$time-bar-height});
  width: calc(100% - #{$block-controls-width});
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  top: $time-bar-height;
  left: $block-controls-width;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  &__contents {
    position: absolute;
    top: $progress-bar-height;
    left: 0;
    height: calc(100% - #{$progress-bar-height});
    width: 100%;
  }

  &__blocks {
    position: absolute;
    height: 40%;
    width: 100%;
    top: 5%;
  }
}

.progress-bar {
  background-color: $color-blue-400;
  height: $progress-bar-height;
  width: 100%;
  min-height: $progress-bar-height;
  top: 0;
  left: 0;
  position: absolute;

  &__indicator {
    background-color: $color-blue-500;
    border-bottom-left-radius: 3.2px;
    border-bottom-right-radius: 3.2px;
    height: $progress-bar-height;
    min-height: $progress-bar-height;
    position: relative;
    width: 10px;
  }

  &__indicator-line {
    background-color: inherit;
    height: calc(100vh - #{$progress-bar-height});
    left: 4.5px;
    position: absolute;
    top: $progress-bar-height;
    width: 1px;
    z-index: 10000;
  }
}


.block {
  background-color: $color-red-500;
  box-shadow: 0 0 0 2px $color-red-300 inset;
  color: $white;
  display: inline-block;
  height: 100%;
  position: absolute;

  &--selected {
    background-color: $color-red-900;
    z-index: 1000;

    &:hover {
      cursor: move;
    }
  }

  &__wrapper {
    padding: 8px;
    padding-top: 24px;
    white-space: nowrap;
  }

  &__text {
    color: $black;
    font-size: 18px;
    margin: 0;
    overflow: hidden;

    &--time {
      font-weight: 400;
      margin-bottom: 12px;
      opacity: .5;
    }

    &--subtitle {
      font-weight: 400;
    }
  }

  &__timer {
    background-color: #e6f71b;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 2px;

    &--before {
      left: 0;

      &:hover {
        cursor: w-resize;
      }
    }

    &--after {
      right: 0;

      &:hover {
        cursor: e-resize;
      }
    }
  }

  &__progress {
    background-color: $color-red-900;
    height: 4px;
    left: 0;
    max-width: 100%;
    position: absolute;
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
}

.block-editor {
  bottom: 30px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);

  &__textarea {
    background: transparent;
    border: 0;
    color: $white;
    font-size: 20px;
    font-weight: 400;
    min-width: 60px;
    resize: none;
    text-align: center;
    text-shadow: 1px 1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black, -1px -1px 0 $black;
    width: 100%;

    &:focus {
      background-color: $color-block-editor;
      border-color: $color-blue-500;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      outline: 0;
      text-shadow: none;
    }
  }
}

.block-controls {
  background-color: $color-blue-300;
  height: 100%;
  left: 0;
  min-width: $block-controls-width;
  position: absolute;
  top: 0;
  width: $block-controls-width;

  &__button {
    background: transparent;
    border: 0;
    height: 36px;
    margin: 6px;
    width: 36px;

    &--add {
      background-image: url('../assets/icons/ic-add.svg');
    }

    &--delete {
      background-image: url('../assets/icons/ic-delete.svg');
    }

    &--clear {
      background-image: url('../assets/icons/ic-clear.svg');
    }
  }
}

.block-table {
  background-color: $color-blue-300;
  border-collapse: collapse;
  height: 100%;
  position: absolute;
  right: 0;
  table-layout: fixed;
  top: 0;
  width: 50%;

  &__header {
    background-color: $color-blue-100;
  }

  &__body {
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }

  &__row {
    color: $color-basic-32;

    &--header {
      color: $color-blue-900;
      display: block;
      position: relative;
    }
  }

  &__item {
    border-color: $color-basic-24;
    border-style: solid;
    border-width: 1px;
    padding: 5px;

    &:nth-child(1) { max-width: 30px; min-width: 30px; }
    &:nth-child(2) { max-width: 100px; min-width: 100px; }
    &:nth-child(3) { max-width: 100px; min-width: 100px; }
    &:nth-child(4) { width: 100%; }

    &--header {
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
}

.resizer {
  background-color: $black;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10000;

  &--horizontal {
    cursor: e-resize;
    height: 100%;
    left: 100px;
    width: 2px;
  }

  &--vertical {
    cursor: n-resize;
    height: 2px;
    width: 100%;
  }
}

.tutorial {
  background-color: $color-blue-300;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 99999;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  &--active {
    background-color: $color-blue-700;
  }

  &__wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &__context {
    margin-bottom: 100px;
  }

  &__icon {
    height: 72px;
    margin: 0 auto;
    width: 72px;

    &--load {
      background-image: url('../assets/icons/ic_file_load.svg');
    }
  }

  &__text {
    color: $white;
    font-size: 32px;
  }

  &__button {
    background-color: $color-blue-500;
    border: 0;
    color: $white;
    font-size: 18px;
    font-weight: 200;
    outline: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;
    padding-right: 60px;
  }

  &__stepper {

  }

  &__stepper-circle {
    fill: $white;

    &--active {
      fill: $color-blue-500;
    }
  }

}
