:root {
    --blue-100: rgb(20, 28, 32);
    --blue-300: rgb(32, 40, 44);
    --blue-400: rgb(76, 83, 91);
    --blue-500: rgb(0, 140, 204);
    --blue-700: rgb(100, 208, 228);
    --blue-900: rgb(236, 246, 249);


    --pink-50: #FCE4EC;
    --pink-100: #F8BBD0;
    --pink-200: #F48FB1;
    --pink-300: #F06292;
    --pink-400: #EC407A;
    --pink-500: #E91E63;
    --pink-600: #D81B60;
    --pink-700: #C2185B;
    --pink-800: #AD1457;
    --pink-900: #880E4F;

    --white: #ffffff;
    --pureBlack: #000000;

    --primary: #0088CC;
    --second: #E91E63;
    --black: #20282C;
    --accent1: #13EB7F;
    --accent2: #E1E657;
    --accent3: #D63422;
}
