@import '../../styles/colors.css';

.prepareState {
  display: flex;
  align-items: center;
  transition: all 400ms;

  &.ready {
    color: var(--accent1);
  }

  &.unready {
    color: var(--accent3);
  }

  & .icon {
    font-size: 48px;
  }

  & .textBox {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-left: 4px;
  }

  & .label {
    font-size: 20px;
  }

  & .filename {
    font-size: 16px;
    color: var(--white);
  }

  & .label, 
  & .filename {
    margin: 0;
  }
}
