@import '../../styles/colors.css';

.button {
  border: none;
  border-radius: 2px;
  background-color: var(--blue-500);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 24%);
  color: var(--white);
  font-size: 24px;
  padding: 24px 48px;
  margin: 0 24px;
  transition: box-shadow 0.2s;

  &:not(.disabled):hover,
  &:not(.disabled):focus {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 24%);
  }

  &.small {
    font-size: 16px;
  }

  &.big {
    font-size: 36px;
  }

  &.disabled {
    background-color: transparent;
    box-shadow: none;
    color: rgba(255, 255, 255, 24%);
  }
}